.v-card__subtitle, .v-card__text, .v-card__title {
  padding: 0 16px;
}

div.col {
  padding: 0 12px;
}

.v-footer--fixed {
  position: relative;
}

* {
  font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
  font-size: 16px;
}
